
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.box {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: rgba(0, 0, 0, 0.399);
    border: 1px solid white;
    color: white;
    font-size: 15px;
    /* width: 200px; */
    /* height: 100px; */
}
.dia {
    background-color: rgba(219, 111, 111, 0.924);
}
.festivo {
    background-color: rgba(226, 143, 127, 0.839);
}

.contenedor {
    width: 100%;
    height: 100vh;
    display: grid;
    border: firebrick;
    grid-template-columns:  repeat(7,80px) ;
    grid-template-rows:  repeat(7,50px)  ;
    grid-gap: 10px 20px;
 
    justify-content: center;
 }
.contenedor .inicio{
    grid-column-start: 4 ;   
}
.contenedor .dia{
    display: flex ;
    background-color: rgba(219, 111, 111, 0.924) ;
    justify-content: center;
 
    color: white;
}
.contenedor .festivo{
    background-color: rgba(226, 143, 127, 0.839);
    color: white;
}

.eventos{
    font-size: 13px;
    /* margin-left: 48px; */
    text-align: center;

}
.mes{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    grid-column-start: 1;
    grid-column-end: 8;
    background-color: rgb(237, 226, 226);
    text-align: center;
    font-size: 35px;

}
