body{
    background-color: #FFFDDD;
}
.contenedor_titulo{
    
    width: 80%;
    max-width: 1200px;
    padding: 5px;
    border: 2px solid black;
    margin: 0 auto;
    margin-bottom: 100px;
    background-color: #FFFCC4;
  
}
h1{
    
    text-align: center;
    font-family: italic;
    font-weight: bold;
    
}
h2{
    text-align: center;
    font-family: italic;
    font-weight: bold;
}
.productos{
    margin-left: 20px;
    display: inline-block;
    justify-content: space-between;
   
    font-family: italic;
    font-weight: bold;
    background-position: center;
  
    
 
   
}
.nombre-producto, .precio-producto{
   
    width: 100%;
    text-align: center;
    display: block;

}

.nombre-producto{
    font-size: 1.3em;
    font-weight: bold;
}
.precio-producto{
    font-size: 1.1em;
    font-weight: 900;
}