*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    width: 100%;
    grid-template: "empty-let     main-page                empty-right" 100vh/
                 minmax(30px,1fr)       minmax(700px,1200px)       minmax(30px,1fr)             ;
}.main-page{
    grid-area: main-page;
}
header{
    display: grid;
    gap: 30px;
    margin-top: 30px;
    grid-template:" logo    main-menu"80px/
                    150px       minmax(500px,100%);
}
.logo{
    grid-area: logo;
    background-image: url(../img/gatosa.png);
    background-color: rgb(227, 225, 217);
    border-radius: 15px;
    /*   */
    background-repeat: no-repeat;
    background-position: center;
    
}

.box-main-img {
    width: 100%;
    background-image: url(../img/hongos.jpg); /* este es sin aumentp vista pc */
    width: 100%;
    height: 613px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: main-img ;
    border-radius: 15px;
    }

@media only screen and (max-width: 430px){
    .box-main-img{
        background-image: url(../img/hongos2.jpg); /* este es con aumento vista celuco */
        width: 100%;
        height: 350px;
    }
}



.main-menu{
    grid-area: main-menu ;
    background-color: rgb(20, 20, 24);
    border-radius: 15px;
    
    font-family: 'Great Vibes', cursive;

}
.style-text{
    font-family: verdana,sans-serif;
    font-size: 1.2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content{
    display: grid;
    margin-top:15px ;
    gap: 40px 70px ;
    grid-template: "main-img  main-img  main-img" 600px
                     "article-1   article-2    article-3 " 
                     "article-4   article-5    article-6 "450px/
                      1fr            1fr             1fr;
}

.article-1{
    grid-area: article-1;
    
}
.article-2{
    grid-area: article-2;
}
.article-3{
    grid-area: article-3;
}
.article-4{
    grid-area: article-4;
}
.article-5{
    grid-area: article-5;
}
.article-6{
    grid-area: article-6;
}
.img-article-1 {
    margin-top: 18px;
    height: 400px;
    background-image: url(../img/silphyoriginal.jpg);
    font-family: verdana, sans-serif;
    color:rgb(255, 255, 255);
    border-radius: 15px;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
}
.img-article-2 {
    margin-top: 18px;
    height: 400px;
    background-image: url(../img/ersi.jpg   );
    font-family: verdana, sans-serif;
    color:rgb(255, 255, 255);
    border-radius: 15px;    
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
}


.img-article-3 {
    margin-top: 18px;
    height: 400px;
    background-image: url(../img/roxy.jpg   );
    font-family: verdana, sans-serif;
    color:rgb(255, 255, 255);
    border-radius: 15px;    
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
}



@media only screen and (max-width: 430px){
    .img-article{
        background-image: url(../img/imagensilphy2.jpg); /* este es con aumento vista celuco */
        width: 100%;
        height: 350px;
    }
}

.style-text-article{
    
    padding-top: 35px;
    text-align: justify;
    font-size: 1.2em;
    color:rgb(66, 66, 66);
    font-family: verdana, sans-serif;
    line-height: 1.4em;
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 452px) {
    body {
        grid-template:
          "main-page"
          auto
          "main-page"
          auto / 100%;
    }
    
    .main-page {
        margin: 20px;
      }
      header{
        grid-template: "logo    main-menu"80px/
                        100px       minmax(50px , 500px);
        justify-content: center;
      }
      .main-content{
        grid-template: 
        "main-img"
        300px
        "article-1"
        auto
        "article-2"
        auto
        "article-3"
        auto
        "article-4"
        auto
        "article-5"
        auto
        "article-6"
        auto / 100%;
      }
      .img-article{
        height: 200px;
      }
      .style-text{
        font-family: verdana,sans-serif;
        font-size: 1.6em;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}