
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana,arial,helvetica,sans-serif;

}
header {
    /* background-color: rgb(35,47,62);  */
    background-color: rgb(19,25,33);
    width: 100%;
    height: 60px;
    display: grid;
    grid-template: "header-logo header-enviar-a box-header-search-input header-flag-country header-identificate header-devoluciones header-carrito" 60px /
                         150px        110px           1fr                    70px                160px               120px               140px;     
}
.main-bottom{
    background-color: rgb(35,47,62) ;
    width: 100%;
    height: 40px;
    display: grid;
    color: white;
    font-size: 0.7em;
    

    grid-template: " box-menu  box-todos box-ofertasdia box-servicio-cliente box-listas box-tarjetas-regalo box-vender" 60px/
                        50px      40px          100px             120px             50px        105px             160px ;

}
.box-menu{
    grid-area: box-menu;
    color: white;
    padding: 5px 10px 1px 10px;
    font-size: 0.7em;
}
.box-todos{
    grid-area: box-todos;
    padding: 15px 1px 1px 3px;
   
}
.box-ofertasdia{
    grid-area: box-ofertasdia;
    padding: 15px 1px 1px 3px;
}
.box-servicio-cliente{
    grid-area: box-servicio-cliente;
    padding: 15px 1px 1px 3px;
}
.box-listas {
    grid-area: box-listas ;
    padding: 15px 1px 1px 3px;
}
.box-tarjetas-regalo{
    grid-area: box-tarjetas-regalo;
    padding: 15px 1px 1px 3px;
}
.box-vender{
    grid-area: box-vender;
    padding: 15px 1px 1px 3px;
}

.header-logo {
    grid-area: header-logo;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 70px;
}
.img-main-logo {
    width: 85%;
    color: white;
    align-items: center;

}
.header-enviar-a {
    grid-area: header-enviar-a;
    display: grid;
    grid-template: "box-icon-location box-texto-enviar-a" 
                   "box-icon-location box-texto-colombia" /
                           20px          70px;  
}
.box-icon-location {
    height: 60px;
    grid-area: box-icon-location;
    color: white;
    font-size: 1.3em;
    display: flex;
    align-items: center;
}
.icon-location {
    font-size: .9em;
}
.box-texto-enviar-a {
    grid-area: box-texto-enviar-a;
    color: rgb(185, 185, 185);
    position: relative;
    top: 10px;
    font-size: .7em;
    font-weight: 300;
}
.box-texto-colombia {
    grid-area: box-texto-colombia;
    font-size: .9em;
    font-weight: 500;
    color: white;
    position: relative;
    bottom: 4px;
}
.box-header-search-input {
    grid-area: box-header-search-input;
    display: flex;
    justify-content: center;
    align-items:center;
}
.header-search-input {
    height: 40px;
    width: 100%;
    display: grid;
    grid-template: "box-filtro-todos box-buscar-amazon box-lupa" /
                    70px            1fr               50px;
}
.box-filtro-todos {
    grid-area: box-filtro-todos;
    background-color: rgb(230,230,230);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.filtro-todos {
    display: flex;
    align-items: center;
    height: 40px;
}
.header-todos {
    padding: 0 4px 0 15px;
    font-size: .7em;
}
.icon-chevron {
    font-size:.7em;
    
}
.box-buscar-amazon {
    grid-area: box-buscar-amazon;
    background-color: white;
    width: 100%;
}
.input-busqueda {
    border:none;
    height: 40px;
    padding-left: 10px;
    font-size: 1.1em;
    width: 100%;
    outline: none;
}
.input-busqueda::placeholder {
    font-size: .8em;
    font-weight: 500;
}
.box-lupa {
    height: 40px;
    background-color: rgb(254,189,105);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lupa {
    grid-area: lupa;
}
.icon-lupa {
    font-size: 1.1em;
}
.header-flag-country {
    grid-area: header-flag-country;

}   
.box-flag{
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 40px;
}
.img-flag-colombia{
    width: 70%;
}
.idioma{
    color: white;
    font-weight: 600;
    font-size: 0.9em;
    padding: 2px;
}
.icon-chevron2{
    color: white;
    font-size: .7em;
}
.header-identificate {
    grid-area: header-identificate;
    color: white;
    position: relative;
    bottom: 4px;
    padding-left: 50px;
    top: 15px;
    font-size: .7em;
}
.texto-cuentalista{
    font-weight: 600;
    
}

.header-devoluciones {
    grid-area: header-devoluciones;
    color: white;
    position: relative;
    bottom: 4px;
    padding-left: 17px;
    font-size: .7em;
    top: 15px;
}
.texto-y-pedidos{
    font-weight: 600;   

}
.header-carrito {
    grid-area: header-carrito;
    color: white;
    position: relative;   
    top: 17px;
   
     
}
.icon-carrito{
    font-size: 1.2em;   
    
}
.text-carrito{
    font-size: .8em;
    font-weight: 600;
   
}
.containt-interfaz{
    margin-left: 3%;
    margin-top: 115px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: "containt-products containtp imagen1" 100% /
                   10%              1fr       1fr      ;
}   

.containt-products{
  
    grid-area: containt-products;
    width: auto;
    height: auto;
    display: grid;
    /* background-color: violet; */
    grid-template:"mini-containts" 100%/
                            100%;
}
.mini-containts{
    grid-area:  mini-containts;
    /* background-color: blue; */
    margin-left: 90px;
    
    
    grid-template-columns: "mini-containts-1 mini-containts-2 mini-containts-3" 60px
                            "mini-containts-4 mini-containts-5 mini-containts-6 "60px
                            "mini-containts-7 mini-containts-8 mini-containts-1" 60px /
                                    10px        10px            10px;
}
.mini-containts-1{
 
    background-color: #fff;
    width: 60px;
    height: 60px;
    border: 1px solid grey;
    border-radius: 10px;
   margin: 10px;
    
}
.mini-containts-2{
    background-color: #fff;
    width: 60px;
    height: 60px;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 10px;
}
.mini-containts-3{
    background-color: #fff;
    width: 60px;
    height: 60px;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 10px;
}
.mini-containts-4{
    background-color: #fff;
    width: 60px;
    height: 60px;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 10px;
}
.mini-containts-5{
    background-color: #fff;
    width: 60px;
    height: 60px;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 10px;

}

.imgi{
    width: 50px;
    height: 40px;
    margin: 8px 3px 7px 4px;
}




.containtp{
    
    /* margin: 100px 315px; */

    width: 675px;
    background-color: white;
    border: 1px solid rgb(255, 0, 0);
    height: 682px;
    display: grid;  
    justify-content: center;
    align-items: center;
}
.containtp:hover{
    cursor: pointer;
}

.imagen1{
    grid-area: imagen1;
    width: 98%; 
    height: auto;
      
    /* margin: 30px 5px 20px 5px;  */
             /* top derecha abajo izquiersda */
    
}





.box-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;

}

.modal {
    width: 95%;
    height: 87%;
    background-color: #fff;
    border-radius: 8px;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    padding: 20px;
    position: relative;
    display: grid;
    grid-template: "box-main-img-modal  info-modal" /
        1fr 350px;

}
.btn-close{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 1.3em;
    border: 2px solid rgba(44, 164, 224, 0.3);
    border-radius: 6px;
    /* box-shadow: 1px 1px 5px rgba(22, 247, 191, 0.25); */
    padding: 0 5px;
    line-height: 0.8em;
}


.box-main-img-modal{
    grid-area: box-main-img-modal;
    /* background-color: goldenrod; */
    /* position: absolute; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main-img-modal{
   width: 70%;
   height: auto;

    

}
.info-modal{
    grid-area: info-modal;
    padding: 30px 60px 30px 30px;
}
.txt-caracteristicas-modal{
    font-size: 1.1em;
    text-align: justify;
    line-height: 1em;
    font-weight: 50;

}
.txt-estilo-caracteristicas{
    font-size: .9em;
    color: rgba(0, 0, 0, 0.367);
    margin-top: 15px;
    margin-bottom: 20px;
}
.box-modal-img {
    position: relative;
    width: 97%;
    height: 50%;
    margin-top: 10px;
    display: grid;

    grid-template: "box-img-1 box-img-2 box-img-3 box-img-4 " 70px
                     "box-img-5 box-img-6  box-img-7 box-img-8" 70px/
                      73px      73px 73px 73px;
}

.box-modal-img>.img {
    display: flex;
    justify-content: center;

}

.box-img-1 {
    grid-area: box-img-1;
}

.box-img-2 {
    grid-area: box-img-2;
}

.box-img-3 {
    grid-area: box-img-3;
}

.box-img-4 {
    grid-area: box-img-4;
}

.box-img-5 {
    grid-area: box-img-5;
}

.box-img-6 {
    grid-area: box-img-6;
}

.box-img-7 {
    grid-area: box-img-7;
}

.box-img-8 {
    grid-area: box-img-8;
}

.img {
    background-color: #fff;
    width: 60px;
    height: 60px;
    border: 2px solid grey;
} 
.img:hover{
    cursor: pointer;
    border: 2px solid rgb(0, 75,145);
}

#mainContent {
    display: none;
  }





















/* Fonts */
/* poppins-200 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/poppins-v20-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-300 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/poppins-v20-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }



