*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    width: 100%;
    grid-template: "empty-left             main-page             empty-right" 100vh/
                   minmax(30px, 1fr)    minmax(700px, 1200px)         minmax(30px, 1fr);
}
.main-page{
    grid-area: main-page;

}
header{
    display: grid;
    margin-top: 50px;
    margin-bottom: 20px;
    gap: 30px;
    grid-template: "logo main-menu" 80px /
                    150px   minmax(700px, 100%) ;
                    
}


.logo{
    background-color: rgba(116, 21, 123, 0.719);
    border-radius: 10px;

}

.main-menu{
    background-color: rgba(150, 80, 188, 0.679);
    border-radius: 10px;
}



.style-text{
    font-family: verdana, sans-serif;
    font-size: 1.6em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-content{
    display: grid;
    margin-top: 40px 70px;
    gap: 30px;

    grid-template: "main-img main-img main-img" 600px
                    "article-1 article-2 article-3" 
                    "article-4 article-5 article-6" /
                    1fr         1fr       1fr    ;

}
.main-img {
    grid-area: main-img;
    background-color: rgb(143, 71, 211);
    border-radius: 10px;
}
.article-1 {
    grid-area: article-1;

}
.article-2 {
    grid-area: article-2;
   
}
.article-3 {
    grid-area: article-3;
    
}
.img-article {
    height: 350px ;
    background-color: rgb(61, 152, 152);
    border-radius: 10px;
    
}
.style-text-article {
    padding-top: 35px;
    text-align: justify;
    font-size: 1.2em;
    color:rgb(66, 66, 66);
    font-family: verdana, sans-serif;
    line-height: 1.4em;
    display: flex;
    justify-content: center;
}
@media(min-width: 768px){

}
@media(min-width: 1024px){

}
@media(min-width:1200px){
}