.contenedor1-off {
    width: 250px;
    height: 120px;
    background: rgb(240, 201, 110);
    border-radius: 55px;
    padding: 3px;
    transition: all 1s;
    border: 1px solid black;
}
.contenedor1-on {
    width: 250px;
    height: 120px;
    border-radius: 55px;
    padding: 3px;
    transition: all 1s;
    background-color: rgb(35, 32, 43);
    cursor: pointer;
}
.contenedor2-off {
    position: relative;
    width: 110px;
    height: 110px;
    background: rgb(222, 166, 140);
    top: -32px;
    left: 5px;
    border-radius: 50%;
    transition: all 1s;
    border: 1px solid black;
}
.contenedor2-on {
    position: relative;
    width: 110px;
    height: 110px;
    background: rgb(249, 239, 239);
    top: -32px;
    left: 135px;
    border-radius: 50%;
    transition: all 1s;
}
.text-on-off {
    font-size: 2em;
    font-weight: 700;
    color: white;
}
.text-on {
    position: relative;
    top: 39px;
    left: 20px;
}
.text-off {
    position: relative;
    top: 39px;
    left: 120px;
}