
.body{
    background-color: lightcyan;
}
.box {
    display: inline-block;
    text-align: center;
    width: 300px;
    height: 300px;
    color: rgb(0, 0, 0);
    font-size: 1.8em;
    margin-left: auto;
    
    }
    .nombrecolor1{
    
        background-color: salmon;
        margin-right: 50px;
    }
    .nombrecolor2{
        
        background-color: Beige;
         margin-right: 50px;
    }
    .nombrecolor3{
       
        background-color: lightcoral;
       

    }



    .nombrecolor4{
        background-color: rgb(131, 189, 199);
        margin-right: 50px;
    }
    .nombrecolor5{
      
        background-color: rgb(148, 199, 148);
        margin-right: 50px;
    }
    .nombrecolor6{
       
        background-color: rgb(102, 102, 173);
     
    }
 


    .nombrecolor7{
        
        background-color: #CF8F82;
        margin-right: 50px;
    }
    .nombrecolor8{
        
        background-color:#9ADE96 ;
        margin-right: 50px;
    }
    .nombrecolor9{
       
        background-color:#B996DE;
        
    }